<section class="center-vertical">
	<h1>コメントの更新</h1>
	<form action="/posts/<%= @post.id %>/update" method="post">
		<input type="text" name="comment" value="<%= CGI.escapeHTML(@post.comment) %>"> <br>
		<input type="submit" value="更新">
	</form>
</section>