<section class="center-vertical">
	<h1>aiueoの投稿</h1>
		<div class="post center-vertical">
			<img src="https://is5-ssl.mzstatic.com/image/thumb/Music118/v4/94/b6/28/94b628ae-9603-1228-0447-01dd55295e9d/source/100x100bb.jpg" alt="アルバム写真">
			<p>RADWIMPS</p>
			<p>Your Name.</p>
			<p>Nandemonaiya - Movie Ver.</p>
			<p><a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview128/v4/c6/07/3f/c6073f79-ee4e-c072-41c1-df0735e85cc5/mzaf_4245642994821526854.plus.aac.p.m4a">サンプル</a></p>
			<p>コメント：なんでもないや〜〜</p>
			<a href="/delete/22">削除</a>
			<a href="/edit/22">編集</a>
		</div>

		<div class="post center-vertical">
			<img src="https://is5-ssl.mzstatic.com/image/thumb/Music118/v4/94/b6/28/94b628ae-9603-1228-0447-01dd55295e9d/source/100x100bb.jpg" alt="アルバム写真">
			<p>RADWIMPS</p>
			<p>Your Name.</p>
			<p>Nandemonaiya - Movie Ver.</p>
			<p><a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview128/v4/c6/07/3f/c6073f79-ee4e-c072-41c1-df0735e85cc5/mzaf_4245642994821526854.plus.aac.p.m4a">サンプル</a></p>
			<p>コメント：ああああああああ</p>
			<a href="/delete/26">削除</a>
			<a href="/edit/26">編集</a>
		</div>
</section>