<section class="first-view center-vertical">
  <h1>MUSIC SNS!!!</h1>
  <div>
    <form action="/sign_in" method="post" class="form-inline">
      <input type="text" name="name" placeholder="ユーザー名" >
      <input type="password" name="password" placeholder="パスワード" >
      <input type="submit" value="ログイン" >
    </form>
  </div>
</section>
<section class="center-vertical">
  <h1>最新の投稿</h1>
    <div class="post center-vertical">
      <img src="https://is3-ssl.mzstatic.com/image/thumb/Music118/v4/2d/db/1f/2ddb1f05-c42d-7700-6cb2-415d03815808/source/100x100bb.jpg">
      <p>artist:Relient K</p>
      <p>コメント:さっすがあ</p>
      <p>投稿者:locomoco</p>
      </div>
</section>