<section class="first-view center-vertical">
  <h1>MUSIC SNS!!!</h1>
  <div>
    <% unless session[:user] %>
      <form action="/sign_in" method="post" class="form-inline">
      <input type="text" name="name" placeholder="ユーザー名" >
      <input type="password" name="password" placeholder="パスワード" >
      <input type="submit" value="ログイン" >
    </form>
    <% end %>
  </div>
</section>
<section class="center-vertical">
  <h1>最新の投稿</h1>
    <% @posts.each do |post| %>
      <div class="post center-vertical">
        <img src="<%= post.image_url %>">
        <p>artist:<%= post.artist %></p>
        <p>コメント:<%= post.comment %></p>
        <p>投稿者:<%= post.user.name %></p>
      </div>
    <% end %>
</section>