<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>MUSIC-SNS</title>
  <link rel="stylesheet" href="/assets/css/stylesheet.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
  <nav class="center-hrizontal">
	  <a href="/">MUSIC SNS!!!</a>
    <a href="/sign_up">新規登録</a>
  </nav>
  <main>
    <%= yield %>
  </main>
</body>
</html>
